body{
    background:#000;
    color:#fff;
    font-family:Arial;
    text-align:center;
    padding:20px;
}
.player{
    width:90%;
    max-width:700px;
    border-radius:10px;
    overflow:hidden;
    margin-bottom:20px;
}
.action-buttons button{
    padding:10px 16px;
    margin:5px;
    border:none;
    background:#222;
    color:#fff;
    border-radius:8px;
    font-size:15px;
    cursor:pointer;
}
.popup{
    background:#111;
    padding:10px;
    border-radius:6px;
    display:none;
    width:80%;
    margin:10px auto;
}
.popup.show{
    display:block;
}
footer{
    margin-top:30px;
}
